/* GENERAL STYLES */
.conteiner {
	margin: 0 auto;
	width: 960px;
}

/* HEADER  */
.header {
	padding: 10px 0;
}

/* NAVIGATION */
.page_navigation h1,
.page_navigation h2 {
	float: left;
	width: 200px;
	text-align: center;
}

.page_navigation a {
	display: block;
	color: black;
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
}

.page_navigation h1 a:hover, 
.page_navigation h2 a:hover {
	background-color: #D9D9D9;
}

.normal_navigation {
	font-weight: normal;
}

/* MAIN */
.main_text {
	position: absolute;
	margin-top: 100px;
	margin-left: 5%;
	font-family: 'PT Sans', sans-serif;
	font-size: 230%;
	font-weight: 100;
	width: 45%;
	z-index: 30;
}

.rose_logo {
	position: absolute;
	margin-top:  140px;
	margin-left: 49%;
    width: 750px;
    height: 750px;
    border-radius: 750px;
    background: #D9D9D9;
    }

.rose_photo {
	position: relative;
	margin-top: -100px;
	width: 100%;
	height: 148%;
}

.button {
	position: absolute;
	width: 18%;
	height: 11%;
	border-radius: 42%;
	left: 10%;
	top: 600px;
	background: #EE0035;
	background-blend-mode: darken;
	border: 1px solid #9C7FA9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'PT Sans';
	font-size: 160%;
	letter-spacing: 0.2em;
}

.button_text {
	text-decoration: none;
	color: white;
}

.search_circle {
	position: absolute;
	width: 538px;
	height: 103px;
	left: 299px;
	top: 307px;
	background: rgba(238, 0, 53, 0.17);
}